/* Josh Comeau's CSS Reset - The Modern CSS Rest */
/* For Reference => https://www.joshwcomeau.com/css/custom-css-reset/ */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
/*
2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. REMOVED
    4. Improve text rendering
  */
  body {
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. REMOVED
  */
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. REMOVED
  */

/*-------------------------------------------------*/

/*-------------------------------------------------*/

html, body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  --board-dimensions: max(290px, 33vw) ;
  --tile-dimensions: calc(calc(var(--board-dimensions) / 9) - 0.5px) ;
  --borders: solid rgb(0, 0, 0) 2px ; 
  --board-radius: 5px ;


  font-family: 'Courier New', Courier, monospace;
  background-color:#d4e5ce;
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

h1 {
  font-size: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10%;
  background-color: rgb(255, 241, 223);

  transition: 0.3s;
}

hr {
  margin-right: auto;
  margin-left: auto;
  background-color: black;
  height: 1%;
  width: 100% ;
}

#header {
  display: flex ;
  align-items: center ;
  justify-content:center ;
  margin-left:auto;
  margin-right: auto;
  gap: 10%;
  width: max(350px, 50%);
  height: 10% ;
}

#error-count {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  width: max(40px, var(--tile-dimensions));
  height: max(40px, var(--tile-dimensions));
  margin-top: 1%;
  color: white;
  border-radius: var(--board-radius);
  background-color: rgb(255, 148, 148);
}

#sudoku-board {
  display: grid ;
  background-color: #fff6ed;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(9, 1fr);
  width: var(--board-dimensions);
  height: var(--board-dimensions);
  margin-top: min(45px, 2.5vw) ;
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--board-radius);

  border: var(--borders);
}

.board-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff6ed;

  border: solid rgba(211, 211, 211, 0.532) 1px;

  font-size: 100%;
  font-weight: bold;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100% ; 
  background-color:  #fff6ed;
  border: solid rgba(211, 211, 211, 0.532) 1px;

  font-size: 100%;
  font-weight: bold;

  transition: 0.2s;
}

#numbers-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(9, 1fr);
  border-radius: var(--board-radius);


  width: var(--board-dimensions);
  height: max(15px, var(--tile-dimensions)) ;
  margin: 0 auto;
  margin-top: max(45px, 2vw) ;

  border: var(--borders);
}

button {
  margin-top: 1%;
  height: max(40px, var(--tile-dimensions));
  width: calc(var(--board-dimensions) / 2.5);
  background-color: #aec2ab ;
  color: white;
  border: var(--borders) ;
  border-radius: var(--board-radius);
  font-size: 100%;

  transition: 0.2s ;
}

.selected {
  background-color: rgb(176, 176, 176);
}

.starter-numbers {
  background-color: rgb(255, 255, 255);
}

#reset-btn {
  display: none;
}

.number:hover, button:hover, .selected {
  font-size: 120%; 
}

h1:hover {
  font-size: 210%;
}



  
