/* Josh Comeau's CSS Reset - The Modern CSS Rest */
/* For Reference => https://www.joshwcomeau.com/css/custom-css-reset/ */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
/*
2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. REMOVED
    4. Improve text rendering
  */
  body {
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. REMOVED
  */
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. REMOVED
  */

/*-------------------------------------------------*/

/*-------------------------------------------------*/

:root {

}

body {
  --board-dimensions: 25vw ;
  --tile-dimensions: calc(calc(var(--board-dimensions) / 9) - 0.5px) ;
  --borders: solid rgb(0, 0, 0) 2px ; 

  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

hr {
    margin-right: auto;
    margin-left: auto;
    width: 50% ;
}

#error-count {
   color: rgb(131, 0, 0); 
}

#sudoku-board {
  display: grid ;
  grid-template-rows: repeat(9, var(--tile-dimensions));
  grid-template-columns: repeat(9, var(--tile-dimensions));

  width: var(--board-dimensions);
  height: var(--board-dimensions);
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;

  border: var(--borders);
}

.board-tile {
  display: flex;
  justify-content: center;
  align-items: center;

  width: var(--tile-dimensions) ; 
  height:  var(--tile-dimensions) ; 
  border: solid rgba(211, 211, 211, 0.532) 1px;

  font-size: 1vw;
  font-weight: bold;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;

  width: var(--tile-dimensions);
  height: 100% ; 
  border: solid rgba(211, 211, 211, 0.532) 1px;

  font-size: 1vw;
  font-weight: bold;

  transition: 0.2s;
}

#numbers-container {
    display: flex;
    flex-wrap: wrap ;

    width: var(--board-dimensions);
    height: var(--tile-dimensions) ;
    margin: 0 auto;
    margin-top: 2% ;

    border: var(--borders);
}

button {
  margin-top: 1vh;
  height: var(--tile-dimensions);
  width: calc(var(--board-dimensions) / 2.5);
  background-color: white ;
  border: var(--borders)
}

.selected {
  font-size: 1.2vw;
  background-color: rgb(176, 176, 176);
}

.number:hover {
  font-size: 1.2vw;
}

.starter-numbers {
  background-color: rgb(242, 242, 242);
}


  
